@charset "UTF-8";
@import url(http://fonts.googleapis.com/earlyaccess/notosansjp.css);
@import url('https://fonts.googleapis.com/css?family=Noto+Sans:400,700&display=swap');


/*paddingとborderを幅と高さに含める*/
* {
	-webkit-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

/*共通要素*/
body {
	width: 1280px;
	background-color: #FCFCFC;
	margin: 30px auto 0 auto;
	border: 1px solid  rgba(80, 80, 80, 0.1);
}

header {
	height: 60px;
}

.is-fixed {
	/* ヘッダー固定。positionは高さ無くなるから親要素で高さ指定 */
	position: fixed;
	width: 1275px;
	z-index: 2;
	backdrop-filter: blur(3px);
}


.header-container {
  display: flex;
  
	/* ヘッダー固定。positionは高さ無くなるから親要素で高さ指定 */
	position: fixed;
}

.header-container h1 {
  margin: 15px 0 0 88px;
  width: 62px;
  height: 35px;
  text-align: center;
  font: 600 16px/16px Gill Sans;
  letter-spacing: 0;
  color: #918F89;
  opacity: 1;
}

.header-container a {
  text-align: left;
  font:200 16px/22px Noto Sans;
  letter-spacing: 0;
  color: #272727;
}

.about {
  width: 43px;
  height: 22px;
  margin: 28px 107px 10px 705px;
  opacity: 0.5;
  
}

.news {
  width: 38px;
  height: 35px;
  margin: 25px 114px 10px 0;
  opacity: 1;
  border-bottom: 2px solid #3E3E3E;
}

.question {
  width: 33px;
  height: 22px;
  margin: 25px 90px 10px 0;
  opacity: 0.5;
}

/* スマホ用メニュー */
.phone-menu {
	display: none;
}

.phone-ul {
	width: 100%;
	top:55px;
	left:0;
	list-style: none;
	background: #918F89 0% 0% no-repeat padding-box;
	opacity: 0.9;
}

.phone-ul li:nth-of-type(2) {
	border: 0.5px solid #FFFFFF;
	opacity: 1;
}

.phone-ul li {
	height: 80px;
	text-align: center;
}

.phone-ul li a {
	display: block; /*ブロック要素にするとどこクリックしてもリンクになる*/
	font: 300 23px/80px Noto Sans;
	letter-spacing: 0;
	color: #FFFFFF;
	opacity: 1;
}

.top-container {
  height: 415px;
  background: transparent url(photo/AdobeStock_295587079.png);
  opacity: 1;
}

.top-container h2 {
	padding: 186px 947px 200px 237px;
  width: 96px;
  height: 29px;
  font: 200 30px/53px Noto Sans JP;
  letter-spacing: 3px;
	color: #3B3B3B;
	opacity: 1;
}

.life-container {
	margin-bottom: 283px;
}

.life-container h2 {
	margin:96px auto 70px auto;
	width: 96px;
	height: 29px;
	text-align: left;
  font: 300 21px/53px DNPShueiMinPr6;
  letter-spacing: 2.1px;
  color: #3B3B3B;
  opacity: 1;
}

.product {
	display: flex;
}

.product-phone {
	display: none;
}

.product img {
	width: 334px;
	height: 387px;
	border: 0.800000011920929px solid #70707046;
}

.img1 {
	margin: 0 0 0 89px;
	position: relative;
}

.img2, .img3 {
	margin: 0 0 0 50px;
	position: relative;
}

.caption1, .caption2, .caption3{
	text-align: center;
	font: 300 16px/387px DNP ShueiGoKinStd;
	letter-spacing: 0.36px;
	color:white;
	opacity: 1;
	display: none; /* ホバーするまで非表示 */
}

 .mask1, .mask2, .mask3 {
	text-align: center;
	width: 100%;
	height: 0%; /* ホバーするまで背景画像を消す */
	position: absolute;
	top: 387px; /* 下からせり上げる仕掛け */
	left: 0;
	background-color: rgba(0,0,0,0.4);
	-webkit-transition: all 0.6s ease;
	-moz-transition:  all 0.6s ease;
	-ms-transition: all 0.6s ease;
	-o-transition: all 0.6s ease;
	transition: all 0.6s ease;
}

.img1:hover .mask1 {
	top: 0; /* topから387px→0pxで下からせり上がる */
	height: 100%; /* ホバーで背景画像を表示 */
}

.img2:hover .mask2 {
	top: 0;
	height: 100%;
}

.img3:hover .mask3 {
	top: 0;
	height: 100%;
}

.img1:hover .caption1 {
	display: block; /* ホバーでテキスト表示 */
}

.img2:hover .caption2 {
	display: block;
}

.img3:hover .caption3 {
	display: block;
}

footer {
	margin-top: 221px;
	height: 321px;
	background: #918F89 0% 0% no-repeat padding-box;
	opacity: 1;
}

.footer-menu {
	display: flex;
}

footer h2 {
	margin: 116px 422px 50px 227px;
	width: 77px;
	height: 48px;
	text-align: center;
	font: 600 22px/21px Gill Sans;
	letter-spacing: 0;
	color: #FFFFFF;
	opacity: 1;
}

.footer-link {
	margin-top: 140px;
	margin-bottom: 100px;
}

.footer-link a {
	text-align: left;
	font: 400 14px/19px Noto Sans;
	letter-spacing: 0;
	color: #FFFFFF;
	opacity: 1;
	}


.footer-about {
	margin: 0 110px 0 0;
	width: 40px;
	height: 19px;
}

.footer-news {
	margin: 0 110px 0 0;
	width: 36px;
	height: 19px;
}

.footer-question {
	width: 30px;
	height: 19px;
}

footer p {
	margin:0 auto 53px auto;
	width: 82px;
	height: 9px;
	font: 300 10px/16px Gill Sans;
	letter-spacing: 0.4px;
	color: #FFFFFF;
	opacity: 1;
}