@charset "utf-8";
@import url(http://fonts.googleapis.com/earlyaccess/notosansjp.css);
@import url('https://fonts.googleapis.com/css?family=Noto+Sans:400,700&display=swap');

@media(max-width:480px) {

  /*共通要素*/
  body {
    width: 375px;
    background: #FFFFFF;
    margin: 0 auto;
  }

  header {
    height: 55px;
  }

  .is-fixed {
    width: 373px;
    opacity: 0.5;
  }

  .header-container {
    height: 55px;
    background: #918F89;
    opacity: 1;
    position: static; /*position: fixedの解除 */
  }

  .header-container h1 {
    margin: 11px 98.5px 0  153.5px;
    width: 68px;
    height: 40px;
    color: #FFFFFF;
  }

  .about, .news, .question {
    display: none;
  }

/*=============================
.btn-trigger
=============================*/
  .btn-trigger {
  margin: 14.33px 19px 0 0;
  position: relative;
  width: 36px;
  height: 22px;
  cursor: pointer;
  }
  
  .btn-trigger span {
    position: absolute;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: rgb(255, 255, 255);
  }

  .btn-trigger, .btn-trigger span {
    display: inline-block;
    transition: all .5s;
  }

  .btn-trigger span:nth-of-type(1) {
    top: 0;
  }

  .btn-trigger span:nth-of-type(2) {
    top: 10px;
  }
  .btn-trigger span:nth-of-type(3) {
    bottom: 0;
  }


/*=============================
#btn05
=============================*/
  #btn05.active span:nth-of-type(1) {
    -webkit-transform: translateY(20px) rotate(-45deg);
    transform: translateY(20px) rotate(-45deg);
  }

  #btn05.active span:nth-of-type(2) {
    left: 50%;
    opacity: 0;
    -webkit-animation: active-btn05-bar02 .8s forwards;
    animation: active-btn05-bar02 .8s forwards;
  }

  @-webkit-keyframes active-btn05-bar02 {
    100% {
      height: 0;
    }
  }

  @keyframes active-btn05-bar02 {
    100% {
      height: 0;
    }
  }

  #btn05.active span:nth-of-type(3) {
    -webkit-transform: translateY(-3px) rotate(45deg);
    transform: translateY(-3px) rotate(45deg);
  }  

  .top-container {
    height: 399px;
    background: transparent url(photo/suAdobeStock_255730246.png);
  }

  .top-container h2 {
    padding: 56px 0 0 145px;
    text-shadow: 9px 7px rgba(255, 255, 255, 0.1);
  }

  .top-container p {
    display: none; /* テキストシャドウにしたので */
  }

  .query-container h2 {
    margin: 80px auto 0 auto;
    text-align: left;
    }

  .query-list {
      margin: 50px auto 0 auto;
      width: 276px;
      opacity: 1;
  }

  .query1, .query2, .query3, .query4, .query5 {
    text-align: left;
    font: 300 13px/53px DNPShueiMinPr6;
    letter-spacing: 1.3px;
  }

  .caption {
    height: 30px;
  }

  .down {
    padding-left: 32px;
  }

  footer {
    /* margin-top: 178px;*/
    height: 276px;
  }
  
  .footer-menu {
    display: block; /* flex解除 */
  }
  
  footer h2 {
    width: 68px;
    height: 40px;
    margin: 0 auto 103px auto;
    padding-top: 86px; /* margin-topだとfooterのmarginと重なってしまう */
    font: 600 16px/16px Gill Sans;
  }
  
  .footer-link {
    display: none;
  }
  
  footer p {
    margin: 0 auto;
    font: 300 10px/16px Gill Sans;
  }
}