@media(max-width:1024px) {
  .header-container {
    width: 100%;
  }

  .top-container {
    width: 100%;
    background-image: url(tablet-top.png);
  }

  .top-container h2 {
    margin:150px 0 0 50px;
  }

  .middle-container {
    width: 100%;
  }

  .contact-container {
    width: 100%;
  }

  .footer-container {
    width: 100%;
  }
}

@media(max-width:480px) {
  .header-container {
    width: 100%;
    justify-content: space-between;
  }

  .menu {
    display: none;
  }

  .menu-icon {
    display: block !important;
    margin-right: 30px;
  }

  .store-name {
    font-family: HG正楷書体-PRO;
    font-size: 24px;
    margin-right: 0 0 0 30px;
  }

  .top-container {
    margin: 0 auto;
    background-image: url(phone-top.png);
    background-size:cover;                 /* 画像のサイズを指定    */
    width: 100%;                          /* 横幅のサイズを指定    */
    height:741px;                            /* 縦幅のサイズを指定    */
  }

  .top-container h2 {
    font-family: HG行書体;
    font-size: 28px;
    margin: 40px 0 0 0;
    display: inline-block;
  }

  .middle-container {
    width: 100%;
    flex-direction: column;
    align-items: center;
    font-size: 16px;
  }
  
  .middle-box1, .middle-box2, .middle-box3 {
    width: 80%;
  }
  
  .middle-box1 img,.middle-box2 img,.middle-box3 img {
    width: 100%;
  }

  .contact-container {
    width: 100%;
  }

  .footer-container {
    width: 100%;
  }
}