* {
  box-sizing: border-box;
}

/* inputタグ等のフォント変更*/
input, textarea {
  font-family: serif;
}

/*ハイパーリンクの装飾を消す*/
a {
  text-decoration: none;
  }

.header-container {
  width: 70%;
  background-color: #faf8ee;
  margin: 0 auto;
  display:flex;
}

.store-name{
  font-family: HG正楷書体-PRO;
  font-size: 24px;
  margin: 20px;
}

.menu {
  flex-direction: row;
  padding-top: 25px;
}

.menu a {
  margin-left: 10px;
  color: black;
}

/* デフォルトでは非表示のスマホ用メニュー*/
#menu {
  display: none;
}

.top-container {
  margin: 0 auto;
  background-image: url(photo/AdobeStock_199226712@2x.png);
  background-size:cover;
  width:70%;
  height:741px;
  background-repeat: no-repeat;
}

.top-container h2 {
  font-family: HG行書体;
  font-size: 36px;
  margin:200px 0 0 200px;
  display: inline-block;
}

.middle-wrapper h2{
  font-weight: normal;
  text-align: center;
  font-family: serif;
}

.middle-container {
  width: 70%;
  margin: 0 auto;
  padding-top: 20px;
  display: flex;
  justify-content: space-around;
  background-color: #FCFCFC;
  text-align: center;
  font-family: serif;
  font-size: 20px;
}

.middle-box1, .middle-box2, .middle-box3 {
  width: 30%;
  position: relative;
}

.middle-box1 img, .middle-box2 img, .middle-box3 img {
  width: 100%;
}

.middle-box1 p, .middle-box2 p, .middle-box3 p {
  position: absolute;
  top: 10px;
  left: 10px;
}

.contact-container {
  width: 70%;
  margin: 0 auto;
  text-align: center;
  font-family: serif;
  background-color: #FCFCFC;
  padding-top: 20px;
  border-top: 2px solid #999999;
}

.contact-container h2 {
  margin-top: 20px;
  font-family: serif;
  font-weight: normal;
}

.footer-container {
  width: 70%;
  background-color: #999999;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  color: white;
}

.store-name2 {
  font-family: HG正楷書体-PRO;
  font-size: 24px;
  margin-right: 30px;
}

.footer-container a {
  margin: 25px 20px;
  color: white;
}

#event-test {
  display: block;
  pointer-events: none; /*親要素でイベント(aタグのリンクを踏むこと)を受け取らない*/
}

#event-test .event-open {
  color: blue;
  display: block;
  pointer-events: auto; /*子要素でイベントを受け取り*/
}

#event-test .event-close {
  display: none;
  pointer-events: auto; /*子要素でイベントを受け取り*/
}

  /****イベントオープン時****/
  #event-test:target .event-open {
    display: none;
  }
  
  #event-test:target .event-close{
    display: block;
  }